  <footer id="footer">
    <nav>
      <ul>
        <li><span>Quartermaster ( QMSTR )</span></li>
        <li>
          <a href="{{.Site.Params.github}}">Github
                <img alt="Github Logo" height="30" src="logos/github/GitHub-Mark-64px.png" width="30"  align="bottom">
          </a>

        </li>

        <li>
          <a href="{{.Site.Params.twitter}}">Twitter
              <img alt="Twitter Logo" height="30" src="logos/twitter/Twitter_Social_Icon_Circle_Color.png" width="30"  align="bottom">

          </a>
        </li>
        <li>
          <a href="{{.Site.Params.slack}}">Slack
              <img alt="Slack Logo" height="30" src="logos/slack/Slack_Mark_Web.png" width="30"  align="bottom">

          </a>
        </li>
      </ul>
    </nav>


    <p>&copy; AGPL <a href="/docs/imprint">Legal</p>

  </p>


  </footer>
